body {
  overflow: hidden;
}
#head {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(214, 46, 51, 0.6),
      rgba(214, 46, 51, 0.6)
    ),
    url(../imgs/events-heavenly-header.jpg);
  color: #fff;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

#head-content {
  transition: all 0.5s;
  h2 {
    font-size: 60px;
  }
}
.openNav {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 60%;
  left: 30px;
  transition: all 0.5s;
  .fa-bars {
    font-size: 25px;
  }
}
#menue {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: all 0.5s;
  padding-top: 40px;
  height: 100%;
  width: 0px;
  padding-inline: 0px;
}
#menue a {
  padding: 20px 8px 20px 32px;
  font-size: 22px;
  transition: all 0.3s;
}
#menue a.closebtn {
  position: absolute;
  right: 20px;
  top: 0;
  margin-left: 45px;
}
#menue a:hover {
  color: brown;
}
#according {
  width: 50%;
}
.slide-button {
  text-align: center;
  background-color: rgba(214, 46, 51, 0.6);
  cursor: pointer;
  color: #fff;
  border: 1px solid rgba(227, 103, 107, 0.6);
  h3,
  i {
    padding: 14px;
  }
  i {
    font-size: 20px;
    transition: all 0.3s;
  }
  .rotate {
    transition: all 0.3s;
    transform: rotate(180deg);
  }
}
#according .inner {
  background-color: #ccc;
  padding: 14px;
  display: none;
}

@media screen and (max-width: 850px) {
  #slide-down {
    width: 100%;
  }
}

#downCount {
  width: 100%;
  min-height: 300px;
  background-image: linear-gradient(
      to right,
      rgba(214, 46, 51, 0.6),
      rgba(214, 46, 51, 0.6)
    ),
    url(../imgs/invitation-2508607__340.jpg);
  color: #fff;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
#downCount .inner {
  border: 2px solid #fff;
  text-align: center;
  height: 150px;
}

#downCount .row {
  padding: 80px 0;
  p {
    font-size: 26px;
    font-weight: 600;
  }
}

.social-icons {
  margin-top: 40px;
}
.social-icons .icon {
  width: 40px;
  height: 40px;
  border: 1px solid #777;
  color: #777;
  cursor: pointer;
  transition: all 0.3s;
}
.social-icons .icon:hover {
  background-color: #d62e33;
  color: #fff;
  border: none;
}
.icons i {
  padding-right: 10px;
}
#contact h3 {
  font-size: 18px;
}
#contact .contact-info p {
  font-size: 16px;
  line-height: 26px;
  color: #777;
  text-align: center;
  margin-top: 30px;
}
#contact .contact-info p.p-color {
  color: #d62e33;
}
#contact .contact-info p.p-color i {
  color: #777;
}

#contact .info h2 {
  font-size: 38px;
  font-weight: 700;
}

#contact input,
#contact textarea {
  margin-bottom: 20px;
  border-radius: 0;
}
#contact input:focus,
#contact textarea:focus {
  box-shadow: none;
  border-color: #d62e33;
}
.num {
  color: #d62e33;
}
.submit {
  border: none;
  background-color: #d62e33;
  color: #fff;
  padding: 10px 20px;
}

/* loader */

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  background-color: rgb(255, 247, 247);
  display: flex;
}

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: rgb(214, 46, 52);
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
